<h3>
  List of Employees
</h3>

<a [routerLink]="['/employees/create']" class="btn btn-success">
  Create New Employee
</a>

<br>
<br>

<div class="alert alert-danger" *ngIf="errorMessage">
  Error messages go here : {{ errorMessage }}
</div>

<table class="table table-bordered">
  <tr>
    <th>Id</th>
    <th>EmpNo</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Fullname</th>
    <th>City</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let emp of listOfEmployees">
    <td>{{ emp.id }}</td>
    <td>{{ emp.empNo }}</td>
    <td>{{ emp.firstName }}</td>
    <td>{{ emp.lastName }}</td>
    <td>{{ emp.fullName }}</td>
    <td>{{ emp.city }}</td>
    <td>
      <input type="submit" class="btn btn-info" [routerLink]="['/employees', emp.id]" value="Show" />
      <input type="submit" class="btn btn-info" [routerLink]="['/employees', emp.id]" value="Edit" />
    </td>
  </tr>
 </table>
